<h1>Real Time Products</h1>
<h2>Add Product</h2>
<form id="productForm" method="post" name="products">
        <label>Title</label>
        <input name="title">

        <label>Description</label>
        <input name="description">

        <label>Price</label>
        <input name="price" type="number">

        <label>Code</label>
        <input name="code">

        <label>Stock</label>
        <input name="stock" type="number">

        <label>Category</label>
        <input name="category">

        <input type="submit">
</form>

<h2>Products</h2>
<table>
    <tr> 
        <th>ID</th>
        <th>Title</th>
        <th>Description</th> 
        <th>Price</th> 
        <th>Code</th> 
        <th>Stock</th> 
        <th>Category</th> 
        <th>Status</th> 
    </tr>
    <tbody id="productsNow">
        {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>{{this.status}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>